/*
* === GENERAL ====
*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../img/background.jpeg') center center no-repeat;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder { color: #FFFFFF; }
::-moz-placeholder { color: #FFFFFF; }
:-ms-input-placeholder { color: #FFFFFF; }
:-moz-placeholder { color: #FFFFFF; }

/*
* === HEADER ====
*/

.page_header {
    position: relative;
    text-align: center;
    margin: 10rem 0;
}

.page_heading {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    bottom: -20rem;
    right: 50%;
    transform: translateX(50%);
    font-size: 10rem;
    text-shadow: .2rem .2rem #000000;
    font-family: Arial, sans-serif;
    color: #3055AB;
}

/*
*   === MESSAGES ===
*/

.messages-container {
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 999;
}

.error_message {
    background-color: #FFBABA;
    color: #D8000C;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}

.cancel_message {
    cursor: pointer;
}

/*
*   === MAIN ===
*/

main {
    margin: 25rem auto 6rem auto;
    width: 80%;
    text-align: center;
}

/*
*   --- Headers ---
*/

.form_selection {
    display: inline-block;
    margin: 1.5rem 2.5rem 8rem 2.5rem;

    h2 {
        opacity: .7;
        color: #FFFFFF;
        font-size: 4rem;
        margin: 0;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        outline: 0;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 1rem;
            background-color: #2C60B3;
            bottom: -1.2rem;
            transition: 1s;
        }

        &:hover,
        &:focus {
            opacity: 1;

            &::before {
                width: 100%;
            }
        }
    }
}

.active {

    h2 {
        opacity: 1 !important;

         &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100% !important;
            height: 1rem;
            background-color: #2C60B3;
            bottom: -1.2rem;
            transition: 1s;
        }
    } 
}

/*
*   --- Forms ---
*/

.field {
    display: inline-block;
    margin: .75rem 0;
    box-sizing: border-box;
    padding: 2rem .5rem;
    border: 0;
    outline: 0;
    text-indent: 5rem;
    border-radius: 3rem;
    width: 30rem;
    background-color: #4F4B5A;
    color: #FFFFFF;
    opacity: .7;
    font-family: 'Raleway', sans-serif;
    

    &:focus {
        opacity: .9;
    }

    +label {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 1rem;
        transform: translateY(-.45rem);
        font-size: 2.5rem;
        color: #FFFFFF;
        opacity: .7;
    }
}

.fields-container {
    position: relative;
    display: inline;
}

.row {
    text-align: center;
}

.form_btn {
    display: block;
    padding: 1.4rem .5rem;
    border-radius: 3rem;
    width: 30rem;
    box-shadow: 0 0 .2rem 0 rgba(0,0,0,.35);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2C60B3;
    font-size: 2.8rem;
    font-weight: bold;
    margin: .75rem auto;
    font-family: 'Raleway', sans-serif;

    &:hover, 
    &:focus {
        background-color: #3576C4;
        outline: 0;
    }
}

.field_error {
    box-shadow: 0 0 .5rem .3rem #D8000C;
    border: .1rem solid red;
}

/*
*   --- Links ---
*/

.links {
    display: block;
    margin-top: 3rem;
    color: #FFFFFF;
    opacity: .7;
    text-decoration: none;
    font-weight: bold;
    text-align: auto;
    outline: 0;
    cursor: pointer;

    &:focus,
    &:hover {
        opacity: 1;
    }

}

/*
*   --- Guides ---
*/

.guide-content {
    padding: 4rem;
    background-color: rgba(79, 75, 90, .9);
    color: #EDEEEE;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.guide-header {
    margin-top: 0;
}

.guide-back_btn {
    display: block;
    padding: 1.4rem .5rem;
    border-radius: 3rem;
    width: 20rem;
    box-shadow: 0 0 .2rem 0 rgba(0,0,0,.35);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2C60B3;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 3rem auto 0 auto;
    font-family: 'Raleway', sans-serif;

    &:hover, 
    &:focus {
        background-color: #3576C4;
        outline: 0;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 50%;
    }

    .guide-content {
        width: 80%;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 40%;
    }
}