/*
* === GENERAL ====
*/
html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif; }

main {
  overflow-y: scroll;
  max-height: 91vh; }

/*
*	=== GRID ===
*/
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.column_menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.column_content {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6;
  min-height: 91vh;
  border-left: .1rem solid #E7E7E7; }

/*
*	=== MASTHEAD ===
*/
.masthead {
  padding: 1rem 2.5rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #F7F7F7;
  border-bottom: .1rem solid #E7E7E7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.user_data,
.logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.logo {
  color: #649173;
  font-family: 'Kalam', cursive;
  font-size: 5rem;
  margin-top: .5px;
  background: -webkit-linear-gradient(top, #DBD5A4, #649173);
  background: linear-gradient(top, #DBD5A4, #649173);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.user_data {
  text-align: right; }

.user_image {
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  vertical-align: middle; }

/*
*	=== MENU === 
*/
.column_menu ul {
  padding: 0;
  margin: 3rem 0;
  list-style-type: none;
  font-size: 2rem; }
  .column_menu ul a {
    display: block;
    position: relative;
    padding: 1.2rem 0;
    padding-left: 3rem;
    cursor: pointer;
    text-decoration: none;
    color: #000000; }
    .column_menu ul a:hover {
      background-color: #EEEEEE; }
      .column_menu ul a:hover:before {
        content: "";
        position: absolute;
        display: block;
        width: .8rem;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #169F87; }

/*
*   === MAIN ===
*/
/*
*   --- Budget ---
*/
.budget {
  position: absolute;
  width: 35rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF; }

.budget-title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }

.budget-summarized-value {
  font-weight: 300;
  font-size: 4.6rem;
  text-align: center;
  margin-bottom: 2.5rem;
  letter-spacing: .2rem; }

.budget-income,
.budget-expenses {
  padding: 1.2rem;
  text-transform: uppercase;
  text-align: right; }

.budget-income {
  margin-bottom: 1rem;
  background-color: #28B9B5; }

.budget-expenses {
  background-color: #FF5049; }
  .budget-expenses .budget-percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: .3rem; }

.budget-text {
  font-size: 1.5rem;
  color: #444;
  float: left; }

.budget-value {
  display: inline-block;
  letter-spacing: .1rem; }

.budget-percentage {
  float: right;
  width: 3.4rem;
  font-size: 1.1rem;
  padding: .3rem 0;
  margin-left: 1rem; }

/*
* --- Add ---
*/
.add {
  padding: 1.4rem;
  border: .1rem solid #E7E7E7;
  background-color: #F7F7F7;
  margin: 0 auto;
  text-align: center; }

.add-type {
  width: 5.5rem;
  border: .1rem solid #E7E7E7;
  height: 4.4rem;
  font-size: 1.8rem;
  background-color: #FFFFFF;
  margin-right: 1rem;
  font-weight: 300;
  -webkit-transition: border .3s;
          transition: border .3s; }
  .add-type:focus {
    outline: none;
    border: .1rem solid #28B9B5; }

.add-description,
.add-value,
.add-name,
.add-year,
.add-month {
  border: .1rem solid #E7E7E7;
  background-color: #FFFFFF;
  font-family: inherit;
  font-size: 1.4rem;
  height: 41px;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  border-radius: .5rem;
  -webkit-transition: border .3s;
          transition: border .3s; }
  .add-description:focus,
  .add-value:focus,
  .add-name:focus,
  .add-year:focus,
  .add-month:focus {
    outline: none;
    border: .1rem solid #28B9B5; }

.add-description,
.add-name {
  width: 40rem; }

.add-value,
.add-year {
  width: 10rem; }

.add-btn {
  font-size: 3.5rem;
  background: none;
  border: none;
  color: #28B9B5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem; }
  .add-btn:active {
    -webkit-transform: translateY(0.2rem);
        -ms-transform: translateY(0.2rem);
            transform: translateY(0.2rem); }
  .add-btn:focus {
    outline: none; }

/*
*   === MESSAGES ===
*/
.messages-container {
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 999; }

.error_message {
  background-color: #FFBABA;
  color: #D8000C;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .3rem; }

.cancel_message {
  cursor: pointer; }

/*
*	=== DEFAULT COMPONENTS ===
*/
/*
*	--- Buttons ---
*/
.button {
  font-weight: bold;
  color: #FFF;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  border-radius: .5rem;
  -webkit-transform: translateY(-0.25rem);
      -ms-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  cursor: pointer; }

.button-modifier_green {
  background-color: #2ECC71;
  box-shadow: 0 .5rem 0 0 #15B358; }
  .button-modifier_green:hover, .button-modifier_green:focus {
    background-color: #48E68B; }

.button-modifier_red {
  background-color: #E74C3C;
  box-shadow: 0 .5rem 0 0 #CE3323; }
  .button-modifier_red:hover, .button-modifier_red:focus {
    background-color: #FF6656; }

.button-modifier_blue {
  background-color: #55ACEE;
  box-shadow: 0 .5rem 0 0 #3C93D5; }
  .button-modifier_blue:hover, .button-modifier_blue:focus {
    background-color: #6FC6FF; }

/*
*	--- Select ---
*/
.select {
  padding: 1rem;
  font-weight: bold;
  width: 20rem;
  background: -webkit-linear-gradient(90deg, #EFEFEF, #FFFFFF);
  background: linear-gradient(0deg, #EFEFEF, #FFFFFF);
  border-radius: 1rem;
  border: .1rem #BABABA solid;
  outline: 0;
  cursor: pointer; }
  .select:focus {
    box-shadow: 0 0 .3rem .1rem #188DF9; }

/*# sourceMappingURL=main.css.map */