/*
* === GENERAL ====
*/

.red {
	color: #FF5049 !important; 
}

.red-focus:focus { 
	border: 1px solid #FF5049 !important; 
}

.background-start {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../../img/background-start.jpg) no-repeat 20% 40%;
	height: 40rem;
    background-size: cover;
    position: relative;
}   

/*
* === ITEMS ===
*/

	/*
	* --- Income, Expenses ---
	*/

.items_container {
	width: 100rem;
    margin: 6rem auto;
    display: flex;
}

.income, .expenses {
	flex: 1;
}

.income {
    margin-right: 2rem;

    .item-value,
    .item-delete_btn {
    	color: #28B9B5;
    }
}

.expenses {
    margin-left: 2rem;

    .item-value,
    .item-percentage,
    .item-delete_btn {
    	color: #FF5049;
    }
}

.income-title,
.expenses-title {
	text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.income-title {
	color: #28B9B5;
}

.expenses-title {
	color: #FF5049;
}

	/*
	* --- Items ---
	*/

.item {
    padding: 1.3rem;
    border-bottom: .1rem solid #E7E7E7;
    text-align: right;

    &:first-child {
    	border-top: .1rem solid #E7E7E7;
    }

    &:nth-child(even) {
    	background-color: #F7F7F7;
    }

    &:hover .item-delete_btn {
    	display: inline-block;
    }

    &:hover .item-value {
    	transform: translateX(-2rem);
    }

    &:hover .item-percentage {
    	transform: translateX(-2rem);
    }
}

.item-description { 
    float: left;
}

.item-value {
	display: inline-block;
    transition: transform .3s;
}

.item-percentage {
	float: right;
    margin-left: 2rem;
    transition: transform .3s;
    font-size: 1.1rem;
    background-color: #FFDAD9;
    padding: .3rem;
    border-radius: .3rem;
    width: 3.2rem;
    text-align: center;
}

.item-delete_btn {
    font-size: 2.2rem;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: top;
    display: none;
    float: right;
    transform: translateY(-.4rem);

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(-.2rem);
    }
}