/*
* === GENERAL ====
*/
.red {
  color: #FF5049 !important; }

.red-focus:focus {
  border: 1px solid #FF5049 !important; }

.background-start {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/background-start.jpg) no-repeat 20% 40%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/background-start.jpg) no-repeat 20% 40%;
  height: 40rem;
  background-size: cover;
  position: relative; }

/*
* === ITEMS ===
*/
/*
* --- Income, Expenses ---
*/
.items_container {
  width: 100rem;
  margin: 6rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.income, .expenses {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.income {
  margin-right: 2rem; }
  .income .item-value,
  .income .item-delete_btn {
    color: #28B9B5; }

.expenses {
  margin-left: 2rem; }
  .expenses .item-value,
  .expenses .item-percentage,
  .expenses .item-delete_btn {
    color: #FF5049; }

.income-title,
.expenses-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem; }

.income-title {
  color: #28B9B5; }

.expenses-title {
  color: #FF5049; }

/*
* --- Items ---
*/
.item {
  padding: 1.3rem;
  border-bottom: .1rem solid #E7E7E7;
  text-align: right; }
  .item:first-child {
    border-top: .1rem solid #E7E7E7; }
  .item:nth-child(even) {
    background-color: #F7F7F7; }
  .item:hover .item-delete_btn {
    display: inline-block; }
  .item:hover .item-value {
    -webkit-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
            transform: translateX(-2rem); }
  .item:hover .item-percentage {
    -webkit-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
            transform: translateX(-2rem); }

.item-description {
  float: left; }

.item-value {
  display: inline-block;
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s; }

.item-percentage {
  float: right;
  margin-left: 2rem;
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s;
  font-size: 1.1rem;
  background-color: #FFDAD9;
  padding: .3rem;
  border-radius: .3rem;
  width: 3.2rem;
  text-align: center; }

.item-delete_btn {
  font-size: 2.2rem;
  background: none;
  border: none;
  cursor: pointer;
  vertical-align: top;
  display: none;
  float: right;
  -webkit-transform: translateY(-0.4rem);
      -ms-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem); }
  .item-delete_btn:focus {
    outline: none; }
  .item-delete_btn:active {
    -webkit-transform: translateY(-0.2rem);
        -ms-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem); }

/*
*   === DATE SELECTOR ===
*/
.date_selector {
  text-align: center; }
  .date_selector h2 {
    text-shadow: .1rem .2rem #BABABA;
    font-size: 4rem; }

.dates {
  padding: 1rem;
  font-weight: bold;
  width: 60%;
  background: -webkit-linear-gradient(90deg, #EFEFEF, #FFFFFF);
  background: linear-gradient(0deg, #EFEFEF, #FFFFFF);
  border-radius: 1rem;
  border: .1rem #BABABA solid;
  outline: 0;
  cursor: pointer; }
  .dates:focus {
    box-shadow: 0 0 .3rem .1rem #188DF9; }

.dates-btn {
  font-weight: bold;
  color: #FFFFFF;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background-color: #2ECC71;
  -webkit-transform: translateY(-0.25rem);
      -ms-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  box-shadow: 0 .5rem 0 0 #15B358;
  cursor: pointer; }
  .dates-btn:hover {
    background-color: #48E68B; }

/*# sourceMappingURL=managment.css.map */